  <div class="container" *ngIf="horoscopeData">
    <div class="if-no-error" *ngIf="!horoscopeData.error; else ifError"> 
    <div class="first-column">
      <div class="upper-data">
        <img src="../assets/aquarius.jpg" *ngIf="horoscopeData.name === 'Aquarius'">
        <img src="../assets/aries.jpg" *ngIf="horoscopeData.name === 'Aries'">
        <img src="../assets/cancer.jpg" *ngIf="horoscopeData.name === 'Cancer'">
        <img src="../assets/capricorn.jpg" *ngIf="horoscopeData.name === 'Capricorn'">
        <img src="../assets/gemini.jpg" *ngIf="horoscopeData.name === 'Gemini'">
        <img src="../assets/leo.jpg" *ngIf="horoscopeData.name === 'Leo'">
        <img src="../assets/libra.jpg" *ngIf="horoscopeData.name === 'Libra'">
        <img src="../assets/pices.jpg" *ngIf="horoscopeData.name === 'Pices'">
        <img src="../assets/sagittarius.jpg" *ngIf="horoscopeData.name === 'Saqittarius'">
        <img src="../assets/scorpio.jpg" *ngIf="horoscopeData.name === 'Scorpio'">
        <img src="../assets/taurus.jpg" *ngIf="horoscopeData.name === 'Tautus'">
        <img src="../assets/virgo.jpg" *ngIf="horoscopeData.name === 'Virgo'">
      </div>
  
      <div class="lower-data">
        <div class="more-info-label">
          {{ horoscopeData.name }}
        </div>
        <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
              <fa-icon style="color: white" [icon]="faGlobe"></fa-icon>
              <span>ruling</span>
              <span>planet</span>
            </div>
            <div class="info-block-value">
              {{ horoscopeData.ruling_planet }}
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <fa-icon style="color: white" [icon]="faFire"></fa-icon>
              <span>element</span>
              <span></span>
            </div>
            <div class="info-block-value">
              {{ horoscopeData.element }}
            </div>
          </div>
          <div class="info-block-date">
            <div class="info-block-label-date">
              <fa-icon style="color: white" [icon]="faCalendar"></fa-icon>
              <span>date</span>
              <span>range</span>
            </div>
            <div class="info-block-value-date">
              {{ horoscopeData.date_range }}
            </div>
          </div>
  
        </div>
      </div>
    </div>


    <div class="second-column">
      <div class="button-row">
        <button class="button" (click)="changeGender('woman')" [style.background-color]=" gender == 'woman'? '#9c6464 ': '#728c5d' ">Woman</button>
        <button class="button" (click)="changeGender('man')" [style.background-color]=" gender == 'man'? '#D3774b': '#728c5d' ">Man</button>
      </div>
      <div class="details-label">
        <p>
          Get to know yourselfs
        </p>
      </div>
      <div class="details-block" *ngIf="gender === 'woman'">
        {{ horoscopeData.woman }}
      </div> 
      <div class="details-block" *ngIf="gender === 'man'">
        {{ horoscopeData.man }}
      </div> 
    </div>
  </div>
    <ng-template #ifError>
    <div class="error-container">
      <p>
        {{ horoscopeData.error }}
      </p>
    </div>
  </ng-template>
</div>
